.main-content{
    /* flex: 1; */
    margin-left: 245px;
    padding: 30px 130px;
    width: calc(100% - 230px);

    /* overflow-x: hidden; */
    
}
.story-feed{
    display: flex;
    flex-direction: row;
    width: 640px;
    border: 1px solid transparent;
    overflow-x: scroll;
    gap: 15px;
    height: 100%;
    position: relative;
    top: -10px;
    z-index: 1;
    
    
}
.story-feed::-webkit-scrollbar{
    display: none;
}
.story-feed .circle{
    width: 100%;
}
.circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
    
}
.circle a{
  
    width: 63.5px;
    height: 63.5px;
    border-radius: 100%;
    background: linear-gradient(240deg, 
    rgb(128, 9, 9) 0%,
    pink 25%,rgb(210, 50, 50) 55%,
    yellow 75%),
    rgb(128, 9, 9) 100%;
    border: 0px solid;
    box-sizing:border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}   
.circle span{   
    font-size: 0.7rem;
    cursor: pointer;
    color: aliceblue;
}
a img{
    width: 58px;
    height: 58px;
    border-radius: 30px;
    align-self: center;
    
    
    

    
}
@media screen and (max-width:900px) {
    .main-content{
        margin-left: 10%;
        margin-right: 50%;
        /* margin-right: 400px; */
        width: calc(100% - 60px);
        display: flex;
        flex-direction: column;
    }
    .story-feed{
        display: flex;
        width: 100%;

    }
    
}